.containerUser{

  height: 100vh;
}

.containerLogIn{
display: flex;
justify-content: center;

}
h3, label{
  color: #EAE2B7;
}
.containerForm{
  background-color: #001529;
  border-radius: 8%;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
}

.contLog{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  .contLog{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-direction: column;
    align-items: center;

  }
  .inpPass, .inpUser{
    width: 100%;
  }
  .formLogIn{
    display: flex;
    flex-direction: column;

    flex-direction: column;
    align-items: center;


  }
}

.inpUser{
  margin-left: 5px;
}

.inpPass{
  margin-left: 9px;
}

.formLogIn{
  text-align: center;
}

.RegisterButton{

  margin: 10px;
}
.contReg{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #001529;
  width: 30%;
  border-radius: 20%;
  left: 50%;
  position: absolute;
    left: 35%;
    top: 35%;
}

@media only screen and (max-width: 600px) {
  input {
    width: 50%;
  }
}
