
<div class="containerUser">
  <div class="containerLogIn">
    <div class="containerForm">
      <form *ngIf=" isLogin " class="formLogIn" [formGroup]="form">
        <h3>Effettua il log-in</h3>
        <div class="contLog">
          <label for="username">Username</label>
          <input class="inpUser" type="text" formControlName="username"/>
        </div>
        <div class="contLog">
          <label for="password">Password</label>
          <input class="inpPass" type="password" formControlName="password"/>
        </div>

        <button (click)="login()">Login</button>
    </form>
    <button class="RegisterButton" (click)="isLogin = !isLogin" *ngIf="isLogin">
    Non sei ancora registrato, registrati.
    </button>
  </div>
</div>

<h3 *ngIf="error"> {{error}} </h3>







  <div class="contReg">
      <form *ngIf="!isLogin" [formGroup]="formReg">
        <div>
          <h3>Registrazione</h3>
          <label for="username">Username</label>
          <input class="form-control" type="text" id="username" formControlName="username" >
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password" formControlName="password">
          <label for="e-mail">E-mail</label>
          <input class="form-control" type="text" id="email" formControlName="email">


          <button (click)="register()" >Register</button>
          <button (click)="isLogin = !isLogin"> Torna al log-in </button>
        </div>
    </form>
  </div>
</div>
