
    <nz-layout class="nzLayout">
      <nz-header>
        <div class="logo"></div>
        <ul nz-menu class="header" nzMode="horizontal">
          <li nz-menu-item><a routerLink="carrello"><span nz-icon nzType="shopping" nzTheme="fill"></span></a></li>
         <li nz-menu-item><a routerLink="welcome/null"><span nz-icon nzType="home" nzTheme="fill"></span></a></li>
         <li nz-menu-item><a routerLink="login"><span nz-icon nzType="meh" nzTheme="fill"></span></a></li>

        </ul>
      </nz-header>
      <nz-content>
        <ul nz-menu class="navBar" nzMode="horizontal">
          <a routerLink="/welcome/Manga"><li nz-menu-item>Manga</li></a>
          <a routerLink="/welcome/Comic"><li nz-menu-item>Comic</li></a>
          <a routerLink="/welcome/Graphic-novel"><li nz-menu-item>Graphic-novel</li></a>
        </ul>
      </nz-content>



        <router-outlet></router-outlet>




      <nz-footer class="footer">


        <ul>
          <a routerLink="spedizioni"><li>Spedizioni</li></a>
          <a routerLink="rimborsi"><li>Resi e rimborsi</li></a>
          <a routerLink="servizioClienti"><li>Servizio clienti</li></a>
        </ul>


         <img src="/src/assets/scarica-2.png" alt="">
         <img src="/src/assets/scarica-app.png" height="50px" alt="">


      </nz-footer>
    </nz-layout>




