<div class= "container">
  <div>
    <h2>Mettiti in contatto</h2>
    <p>Vuoi entrare in contatto? Ci piacerebbe sentire la tua opinione. Ecco come puoi raggiungerci...
</p>

    <div>
        <div >
            <span></span>
            <h3>Parla con le vendite</h3>

            <p>+39 1 512 4400</p>
            <a href="#">Visualizza tutti i numeri globali</a>
        </div>
        <div >
            <span ></span>
            <h3>Contatta l'assistenza clienti</h3>

            <button >Contatta il supporto</button>
        </div>
    </div>
  </div>
  </div>








